    

    <div class="about-landing-container">
      <div class="landing-image" style="background-image:url('{{image.image.url}}')">
        
      </div>
      <div class="landing-items-container container-fluid">
          <div class="row h-100 align-content-center">
            <div class="about-landing-title-1 container">
                <div class="row align-content-center">
                  <div class="about-landing-icon mr-2">
                  
                  </div>
                  <h4>ElBiban Tours</h4>
                </div>
            </div>
            <div class="about-landing-title-2 container">
              À Propos de Nous
            </div>
          </div>
      </div>
    </div>