{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Favicon -->
    <link rel="icon" href="../../../UI elements/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../../../UI elements/favicon.ico" type="image/x-icon" />
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abel|Oswald:200,300,400|Oxygen:300,400,700&display=swap" rel="stylesheet">
    <!-- Cosumized CSS -->
    <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>

    <title>El Biban Tours</title>
  </head>
  <body>
    {% include "header.html" %}
    {% include "nav-bar.html" %}
    {% include "landing.html" %}
    {% include "section-1.html" %}
    {% include "travel-showcase.html" %}
    {% include "offers-section.html" %}
    {% include "section-2.html" %}
    {% include "testimonials.html" %}
    {% include "section-3.html" %}
    {% include "contact-form.html" %}
    {% include "footer.html" %}
    

    
  </body>
</html>










