<div id="contact" class="contact-form-container container-fluid ">
      <div class="row">
        <div class="contact-form-title-container col-md-6 col-12 container-fluid d-none d-md-block">
          <div class="row h-100">
            <div class="contact-form-title col-8 container-fluid">
              <div class="row h-100 justify-content-end align-content-center">
                <h3>Contacter Nous</h3>
              </div>
            </div>
          </div>
          
        </div>
        <div class="contact-form col-md-6 col-12 container-fluid">
          <h3 class="contact-us-title my-4 w-100 d-md-none">Contacter Nous</h3>
          <form action="." method="POST">
            {% csrf_token %}
          <div class="row mt-3 ml-auto">
            
            <div class="col-6">
              <label for="first_name">Nom</label><br>
              <input class="field" type="text" maxlength="20" name="first_name" id="name"><br>
              <label class="mt-3" for="email">E-mail</label><br>
              <input class="field" type="email" name="email" id="email"><br>
            </div>
            <div class="col-6">
              <label  for="last_name">Prénom</label><br>
              <input class="field" type="text" maxlength="20" name="last_name" id="last_name"><br>
              <label class="mt-3" for="phone_number">Téléphone</label><br>
              <input class="field" type="number" maxlength="10" name="phone_number" id="phone"><br>
            </div>
          </div>
          <div class="row mt-3 ml-auto">
            <div class="msg-field-container col-12">
              <label for="content">Message</label><br>
              <textarea class="msg-field" name="content" maxlength="500" id="msg" cols="30" rows="5">
                
              </textarea>
            </div>
          </div>
          <div class="row justify-content-center mt-3">
            <button class="contact-form-submit-button" type="submit" endpoint="{% url 'contact' %}">Envoyer</button>
          </div>
            
          
          </form>
          
            
            
            
          
        </div>
      </div>
    </div>