<div class="footer-container container-fluid">
      
        <div class="row justify-content-around mb-5 flex-wrap">
          <div class="col-md-3 col-10 my-2">
            <h3 class="footer-title">El Biban Tours</h3>
            <div class="agency-description mt-5">
              Donc hein que ils chez meme aux ete. Qu creerent premiere ca retablir en imberbes oh penetrer ennemies.
            </div>
          </div>
          <div class="col-md-3 col-10 my-2">
            <h3 class="footer-title">Contact</h3>
            <div class="contact-container container">
              <div class="phone-info-container my-3 row">
                <div class="icon">
                  
                </div>
                <div class="info">
                  0 123 456 789
                </div>
              </div>
              <div class="fax-info-container my-3 row">
                <div class="icon">
                  
                </div>
                <div class="info">
                   0 35 56 78 92
                </div>
              </div>
              <div class="mail-info-container my-3 row">
                <div class="icon">
                  
                </div>
                <div class="info">
                  elbiban.tours@gmail.com
                </div>
              </div>
            </div>
            <h3 class="footer-title">Adresse</h3>
            <div class="adresse-container container my-3">
              <div class="row">
                <div class="icon">
                  
                </div>
                <div class="info">
                    El Blad, Bordj Bou Arreridj
                </div>
              </div>
            </div>
          </div>
          <div class="news-letter-container col-md-3 col-10 my-2">
            <div class="news-letter container h-100">
              <div class="row h-100 align-content-end">
                <div class="container-fluid">
                  <div class="news-letter-description info row justify-content-start">
                    <p>Subscribe to our newsletter to stay up to date about new opportunites</p>
                  </div>
                  <div class="button-wrapper row justify-content-center my-2">
                    <button>
                      Inscrir
                    </button>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row social-media-info justify-content-start ">
          <div class="container col-sm-3 col-8">
            <div class="row justify-content-around">
              <div class="social-media-icons">
            
              </div>
              <div class="social-media-icons">
                
              </div>
              <div class="social-media-icons">
                
              </div>
            </div>
          </div>
          
        </div>
      
      
    </div>