<div class=" header container-fluid">
      <div class="row h-100 align-content-center">
        <div class="logo-container col-md-2 col-sm-4">
            <div class="logo ">
            
            </div>
        </div>
        


        <div class="contact-info-container col-md-10 container d-md-block">
          <div class="contact-info  row h-100">
          <div class="contact-container col-3 h-100 container offset-2">
            <div class="row h-100 align-content-center ">
              <div class="icon-1 col-2">
              
              </div>
              <div class="info-1 col-9">
                <p>0 123 456 789</p>
                <p>Fax : 0 35 89 56 10</p>
              </div>
            </div>
            
          </div>
          <div class="location-container col-3 container offset-3">
            <div class="row h-100 align-content-center">
              <div class="icon-2">
              
              </div>
              <div class="info-2">
                <p>El Blad, Bordj Bou Arreidj</p>
              </div>
            </div>
            
          </div>
          <div class="button-wrapper container col-3">
            <div class="row h-100 align-content-center">
              <button class="">
                Trouver Votre Voyage
              </button>
            </div>
            
          </div>
        </div>
        </div>

        
      </div>
      
    </div>