<div id="top" class=" header container-fluid my-lg-3 my-md-2 my-auto d-none d-lg-block">
      <div class="row h-100 align-content-center">
        <div class="logo-container h-100 py-3 py-sm-0 col">
            <div class="logo h-100 w-100 ">
            
            </div>
        </div>
        


        <div class="contact-info-container h-100 col-md-9 col-lg-10 container d-lg-block">
          <div class="contact-info  row h-100">
          <div class="contact-container col h-100 container offset-2">
            <div class="row h-100 align-content-center ">
              <div class="icon-1 col-2">
              
              </div>
              <div class="info-1 col-9">
                <p>0 123 456 789</p>
                <p>Fax : 0 35 89 56 10</p>
              </div>
            </div>
            
          </div>
          <div class="location-container col container offset-3">
            <div class="row h-100 align-content-center">
              <div class="icon-2">
              
              </div>
              <div class="info-2">
                <p>El Blad, Bordj Bou Arreidj</p>
              </div>
            </div>
            
          </div>
          <div class="button-wrapper container col">
            <div class="row h-100 align-content-center">
              <a class="" href="{{voyage_link}}">
                Trouver Votre Voyage
              </a>
            </div>
            
          </div>

        </div>
        </div>

        <div class="mobile-button container col-5 d-lg-none">
            <div class="row h-100 align-content-center justify-content-end">
              <a class="" href="{{voyage_link}}">
                Trouver Votre Voyage
              </a>
            </div>
            
          </div>
      </div>
      
    </div>
    