<div class="section-1 container-fluid mt-5 pt-3">
      <div class="row justify-content-around">
        <div class="subsection-1 subsections col-md-4 col-sm-12 container">
          <div class="row justify-content-center">
            <div class="section-icon-1 section-icons">
            
            </div>
            <h1 class="section-title w-100 text-center my-2">
              Billet D'avion
            </h1>
            <div class="section-content-1 section-contents">
              At our travel agency, you can book air tickets to any world destination. We also provide online ticket booking via our website.


            </div>
          </div>
          
        </div>
        <div class="subsection-2 subsections col-md-4 col-sm-12 container">
          <div class="row justify-content-center">
            <div class="section-icon-2 section-icons">
            
            </div>
            <h1 class="section-title w-100 text-center my-2">
              Réservation Visa
            </h1>
            <div class="section-content-2 section-contents ">
              At our travel agency, you can book air tickets to any world destination. We also provide online ticket booking via our website.


            </div>
            </div>
          
        </div>
        <div class="subsection-3 subsections col-md-4 col-sm-12 ">
          <div class="row justify-content-center">
            <div class="section-icon-3 section-icons">
            
            </div>
            <h1 class="section-title w-100 text-center my-2">
              Visa D'étude
            </h1>
            <div class="section-content-3 section-contents ">
              At our travel agency, you can book air tickets to any world destination. We also provide online ticket booking via our website.


            </div>
          </div>
          
        </div>
      </div>
    </div>