<div class="section-2 container-fluid" style="background-image:url('/media/UI elements/section-2.jpg');">
  <div class="row w-100  justify-content-center section-2-content">
    <h1 class="section-2-title w-100 text-center">Décovrir Nos Opportunités</h1>
    <div class="description col-xl-4 col-lg-6 col-md-8 col-sm-12 text-center">
      visa d’étude, immigration canada,contact de travail et plus
    </div>
    <div class="button-wrapper container-fluid">
      <div class="row w-100 mx-0">
        <a href="{% url 'services' %}" class="text-center col-lg-3 col-md-6 col-8 mx-auto">
          voir plus
        </a>
      </div>
    </div>
  </div>
</div>