<div class="section-2 container-fluid">
  <div class="row w-100  justify-content-center section-2-content">
    <h1 class="section-2-title w-100 text-center">Décovrir Nos Opportunités</h1>
    <div class="description col-md-4 col-sm-12 text-center">
      visa d’étude, immigration canada,contact de travail et plus
    </div>
    <div class="button-wrapper container-fluid">
      <div class="row w-100 justify-content-center">
        <button class="col-md-3 col-sm-10">
          voir plus
        </button>
      </div>
    </div>
  </div>
</div>