<div class="travel-showcase container-fluid mt-5 px-5">
      <h1 class="travel-showcase-title text-center my-5 py-5">Les Meilleurs Tours</h1>
      <div class="row justify-content-around mb-5">

        {% for voyage in voyages_1 %}

          <div  class="tours col-md-2 col-sm-10 col-10" style="background-image:url({{voyage.image.url}})">
            <div class="info-container">
              <div class="travel-info-container px-2">
                <span class="city-name">{{voyage.destination}}</span>
                <span class="price">{{voyage.price}}DA</span>
              </div>
            </div>
            <button>
              Reserver Maintenat
            </button>
          </div>

        {% endfor %}
        </div>
        
      <div class="row justify-content-around">
        
          {% for voyage in voyages_2 %}
            <div  class="tours col-md-2 col-sm-10 col-10" style="background-image:url({{voyage.image.url}})">
            <div class="info-container">
              <div class="travel-info-container px-2">
                <span class="city-name">{{voyage.destination}}</span>
                <span class="price">{{voyage.price}}DA</span>
              </div>
            </div>
            <button>
              Reserver Maintenat
            </button>
          </div>
            

          {% endfor %}

      </div>
      
    </div>
    