.about-landing-container{
	position: relative;
}
.landing-image{
	
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 300px;
}
.landing-items-container{
	position: absolute;
	top:0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	color: white;
}
.about-landing-title-1 h4{
	font-family: 'Oswald';
	font-size: 25px;
	font-weight: 100;

}
.about-landing-icon{
	background-image: url('/media/UI elements/SVGs/line.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	display: flex;
	align-self: center;
	width: 50px;
	height: 10px;
}

.about-landing-title-2{
	font-family: 'Oxygen';
	font-weight: 100;
	font-size: 40px;
}






/*-----------------------------description-section--------------------------------*/





.description-section-title,.contact-info-section-title{
	font-family: 'Oswald';
	font-size: 40px;
	font-weight: 300;


}
.description-section-desc{
	font-family: 'Oxygen';
	font-size: 20px;
	text-align: center;
	color: rgba(0,0,0,.5);
}


/*--------------------------------services-section-----------------------------------*/



.services-section-title{
	font-family: 'Oswald';
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}
.service-element-title, .contact-us-title{
	font-family: 'Oswald';
	font-size: 25px;
	font-weight: 100;
	text-align: center;

}
.service-element-icon{

	width: 70px;
	height: 70px;
	background-size: contain;
	background-repeat: no-repeat;
}

#servicesCarousel{
	height: 200px;
}


.service-element-container:nth-child(1) .service-element-icon{
	filter : brightness(0) saturate(100%) invert(45%) sepia(51%) saturate(5098%) hue-rotate(334deg) brightness(108%) contrast(87%);
	
}
.service-element-container:nth-child(2) .service-element-icon{
	filter: brightness(0) saturate(100%) invert(47%) sepia(40%) saturate(4245%) hue-rotate(136deg) brightness(97%) contrast(87%);
}
.service-element-container:nth-child(3) .service-element-icon{
	filter: brightness(0) saturate(100%) invert(16%) sepia(81%) saturate(4090%) hue-rotate(258deg) brightness(85%) contrast(97%);
}
.service-element-container:nth-child(4) .service-element-icon{
	filter: brightness(0) saturate(100%) invert(50%) sepia(86%) saturate(956%) hue-rotate(192deg) brightness(101%) contrast(101%);
}
.service-element-container:nth-child(5) .service-element-icon{
	filter: brightness(0) saturate(100%) invert(73%) sepia(96%) saturate(1642%) hue-rotate(327deg) brightness(103%) contrast(101%);
}
.service-element-container:nth-child(6) .service-element-icon{
	filter: brightness(0) saturate(100%) invert(63%) sepia(58%) saturate(3121%) hue-rotate(278deg) brightness(101%) contrast(91%);
}
.service-element-container:nth-child(7) .service-element-icon{
	filter: brightness(0) saturate(100%) invert(14%) sepia(8%) saturate(2718%) hue-rotate(171deg) brightness(95%) contrast(88%);
	/*filter: brightness(0) saturate(100%) invert(40%) sepia(14%) saturate(521%) hue-rotate(170deg) brightness(93%) contrast(94%);*/
}
.service-element-container:nth-child(8) .service-element-icon{
	
	filter: brightness(0) saturate(100%) invert(91%) sepia(11%) saturate(1825%) hue-rotate(334deg) brightness(107%) contrast(98%);
}




.contact-form.about-us{

	background-color: rgba(196, 196, 196, 0.2);
}
.contact-form.about-us input,.contact-form.about-us textarea{
	background-color: white;
}

/*-----------------------------------------footers---------------------------------------*/
/*.upper-footer-title{
	font-family: 'Oswald';
	font-size: 35px;
	font-weight: 100;
	color: rgba(255,255,255,.9);
}
.upper-footer-container{
	background-color: #167E83;
}
.upper-footer-container > div{
	
	min-height: 150px;
}
.upper-footer-section:nth-child(2){
	border-left:solid rgba(255,255,255,.4) 1px; 
	border-right:solid rgba(255,255,255,.4) 1px; 
}
.upper-footer-section .icon{
	width:50px;
	height:50px;
	
	

}
.upper-footer-section .info{
	color: rgba(255,255,255,.7);
	font-family: 'Oxygen';
	font-weight: 100;
	font-size: 22px;
}
.footer-container.under-footer-container{
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	background: rgba(0,168,177,.7);
	padding-top: 20px;
	padding-bottom: 20px;
}*/




		/*-------------------------------Media-Queries------------------------------------*/



@media screen and (max-width: 1200px){
	.description-section-desc{
		font-size: 18px;
	}
	.landing-image{
		height: 250px;
	}
}


@media screen and (max-width: 992px){
	.description-section-desc{
		font-size: 16px;
	}
	.description-section-title,.contact-info-section-title,.services-section-title{
		font-size: 35px;
	}
	.about-landing-title-1 h4{
		font-size: 20px;
	}
	.about-landing-title-2{
		font-size: 30px;
	}
}



@media screen and (max-width: 580px){
	.description-section-desc{
		font-size: 14px;
	}
	.description-section-title,.contact-info-section-title,.services-section-title{
		font-size: 30px;
	}
	.landing-image{
		height: 200px;
	}
}


@media screen and (max-width: 480px){
	
}


@media screen and (max-width: 380px){
	
}