.costum-modal{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        display: none;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition:all .2s;
      }
      .costum-modal .costum-modal-header{
        font-family: 'Abel';
        min-height:60px;
        text-align: center;
        font-size: 25px;
        font-weight: 100;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        background-color: #FF761B;
        color: white;
      }
      .costum-modal .costum-modal-body{
        min-height: 10%;
      }
      .costum-modal .costum-modal-body input{
        color: #252525;
      }
      .costum-modal .costum-modal-body button{
        font-family: 'Oswald';
        font-size: 20px;
        font-weight: 100;
      }
      .costum-modal .costum-modal-footer{
        min-height: 10%;
        padding: 10px;
      }
      
      .costum-model-container{
        position: relative;
        opacity: 0;
        transition: all 0.3s;
      }
      .costum-model-container.modal-in-the-show{
        z-index: 1000;
        background-color: rgba(0,0,0,0.2);
        position: fixed;
        width:100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        transition: all 0.3s;
      }

      .costum-modal-btn{
        padding: 5px 15px 5px 15px;
        font-family: 'Oswald';
        font-size: 20px;
        font-weight: 100;
        border-radius: 5px;
      }
      .costum-btn-primary{
        color: white;
        border:solid #00A8B1 0.6px;
        background-color: #00A8B1;
        transition: all .5s;
      }
      .costum-btn-primary:hover{
        color: #00A8B1;
        background-color: transparent;
        transition: all .5s;
      }
      .costum-btn-secondary{
        color: #FF761B;
        border:solid #FF761B 0.6px;
        background-color: transparent;
        transition: all .5s;
      }
      .costum-btn-secondary:hover{
        color: white;
        background-color: #FF761B;
        transition: all .5s;
      }
      .costum-modal-spinner-container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
      }
      .close-icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        float: right;
        cursor: pointer;
        transition: all .4s;
        background-image: url("/media/UI elements/SVGs/close.svg");
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(214deg) brightness(108%) contrast(102%);
      }
      .close-icon:hover{
        filter: brightness(0) saturate(100%) invert(57%) sepia(90%) saturate(2409%) hue-rotate(143deg) brightness(85%) contrast(101%);
      }



/*-------------------------confirmation-modal------------------------------*/

#confirmation-modal{
  color:white;
}
#info-modal{
  color:black;
}

#confirmation-modal.req-success{
  background-color: #00A8B1;

}
#confirmation-modal.req-failed{
  background-color: #FF761B;
  
}
#confirmation-modal button{
  width: 50%;
  border-color:white;
  color: white;
  transition: all .4s;
}
#info-modal button{
  width: 50%;
  border-color:#FF761B;
  color: #FF761B;
  transition: all .4s;
}
#info-modal button:hover{
  color: white;
  background-color:#FF761B;
  transition: all .4s; 
}
#confirmation-modal.req-success button:hover{
  color: #00A8B1;
  background-color:white;
  transition: all .4s; 
}
#confirmation-modal.req-failed button:hover{
  color: #FF761B;
  background-color:white;
  transition: all .4s; 
}
#confirmation-modal .costum-modal-body,#info-modal .costum-modal-body{
  font-family: 'Oxygen';
  font-size: 22px;
  font-weight: 100;
  text-align: center;
}

.pin{
  width:25px;
  height: 25px;
  background-image: url("/media/UI elements/SVGs/pin.svg");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(52%) sepia(43%) saturate(6055%) hue-rotate(153deg) brightness(97%) contrast(101%);
}
.requirement-content {
    font-family: 'Oxygen';
    font-size: 20px;
    font-weight: 100;
    line-height: 1;

}
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

      