
.navigation-bar.scrolled {
  background-color: #fff !important;
  transition: background-color 800ms cubic-bezier(0.21, 0.02, 0, 1.01);
}

.voyage-container-title{
	font-size: 45px;
	font-family: 'Oswald';
	font-weight: 100;
}
.voyages-container .voyage-container{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 0;
	max-width: 22%;
	margin:10px;
	min-height: 200px;
	position: relative;
	border-radius: 5px;
}
.voyage-image{
	width: 100%;
	background-image: url('tour-5.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 85%;
	position: relative;
	border-radius: 5px 5px 0px 0px;
	clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	-webkit-transition: all 0.8s; 
  	transition: all 0.8s; 
}
.voyage-image button{
	z-index: 1000;
	display: none;
	position: absolute;
	font-family: 'Oswald';
	top: 50%;
  	left: 50%;
  	width: 60%;
  	background-color: rgba(255,255,255,0.6);
	padding: 5px 5px 5px 5px;
	border:solid black .4px;
	border-radius: 5px;
	font-size: 17px;
	font-weight: 100;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	-webkit-transition: all 0.8s; 
  	transition: all 0.8s; 
}
 .voyage-container:hover .voyage-image button{
	display: block;
	-webkit-transition: all 0.8s; 
  	transition: all 0.8s; 
}
.voyage-image:hover button:hover{
	background-color: black;
	color: white;
	-webkit-transition: all 0.8s; 
  	transition: all 0.8s; 
}
.voyage-info-container{
	position: absolute;
	bottom: 1%;
}
.voyage-info-container .row:nth-child(2) span:nth-child(1){
	font-family: 'Oxygen';
	font-size: 17px;
	font-weight: 200;
}



